html { 
 background-color: #fff;
}
ul  {
  margin: 0;
  text-align: center;
}
ul li a {
  text-decoration: none;
  color: #fff;
  
}
li  {
  padding: 10px 20px; 
  display: block;
}
a:hover {
 background-color: #000;
}
#main-navbar {
  display: block;
  background-color: blue;
  color: #fff;
  width: 100%;
  overflow: hidden;
} 
#main-navbar ul li {
  float: left;  
   
}
#main-navbar ul {
  float: left;  
   padding: 0;
}
#navbar-container {
  display: block;
  position: relative;
  left: 50%;
  right: 50%;
  float: left;
  
}
#sidebar{  
  padding: 0; 
  width: 20%;
  position: fixed;
  right:0%;
  display: block; 
  height: 100%;
  background-color: red;
  
}
#sidebar-container {
  color: #fff;
  padding: 15px 0;
}
#sidebar-container li {
  text-align: center;
  list-style-type: none;
}
#onpage {
  text-decoration: underline overline
}  